<ion-view view-title="Browse">
  <ion-content>
    <!-- Unless canvas size is specified default size is 300 w x 150 h -->


	<canvas id="canvas1" width="300" height="300" ></canvas>
	<div id="container1" class="container" width="300" height="300" ></div>

	<canvas id="canvas2" width="300" height="300" ></canvas>
	<div id="container2" class="container" width="300" height="300" ></div>

	<canvas id="canvas3" width="300" height="300" ></canvas>
	<canvas id="canvas4" width="300" height="300" ></canvas>
	<canvas id="canvas5" width="300" height="300" ></canvas>
	<canvas id="canvas6" width="300" height="300" ></canvas>

	 
  </ion-content>
</ion-view>
