<ion-view view-title="Browse">
  <ion-content>
    <!-- Unless canvas size is specified default size is 300 w x 150 h -->


	<canvas id="canvas1" width="160" height="160" ></canvas>
	<div id="container1" class="container" width="80" height="80" ></div>

	<canvas id="canvas2" width="160" height="160" ></canvas>
	<div id="container2" class="container" width="80" height="80" ></div>

	<canvas id="canvas3" width="160" height="160" ></canvas>
	<canvas id="canvas4" width="160" height="160" ></canvas>
	<canvas id="canvas5" width="160" height="160" ></canvas>
	<canvas id="canvas6" width="160" height="160" ></canvas>


  </ion-content>
</ion-view>
