body {
	cursor: url('http://ionicframework.com/img/finger.png'), auto;
}

#canvas1 {
	position: relative;
	top: 50px;
	left: 240px;
}
#canvas2 {
	position: relative;
	top: 154px;
	left: 60px;
}
#canvas3 {
	position:relative;
	top: 154px;
	left: 420px;
}
#canvas4 {
	position: relative;
	top: 259px;
	left: 240px;
}
#canvas5 {
	position: relative;
	top: 363px;
	left: 60px;
}
#canvas6 {
	position: relative;
	top: 363px;
	left: 420px;
}
#canvas7 {
	position: relative;
	top: 467px;
	left: 240px;
}

.imgWatch {
	position: fixed;
	z-index: 1000;
	left: -500px;
	top: -50px;
}

.imgScreenWatch {
	position: fixed;
	z-index: 1500;
	left:10px;
	top:55px;
}

#Kbd {
	position: fixed;
	z-index: 0;
	/*
		Activate 3d acceletration on mobile
	*/
	-webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    -webkit-transition: transform 400ms ease
    -moz-transition: transform 400ms ease
    -o-transition: transform 400ms ease
    transition: transform 400ms ease;
}

.container {
	position: fixed;
	left: 8px;
	top: 5px;
}

.frame_look_feel {
	background-color: #CCCCCC;
}

div[class^="letter_pos_"]	{
	width: 140px;
	height: 125px;
	/*border:1px solid #000;*/
	overflow: hidden;
	position: absolute;
	border-radius: 50%;
	text-align: center;
	transform-origin: 100% 100% 0;
}

div[class^="letter_pos_"]:hover	{
	background: #FF0000;
}

.txtKB {
	position: relative;
	top: 190px;
	left: 50px;
	z-index: 2000;
}
