#canvas1 {
	position:relative;
}
#canvas2 {
	position:relative;
	top: 70px;
	left: 120px;
}

.container {
	position: fixed;
	left: 8px;
	top: 5px;
}

div[class^="letter_pos_"]	{
	width: 140px;
	height: 125px;
	/*border:1px solid #000;*/
	overflow: hidden;
	position: absolute;
	border-radius: 50%;
	text-align: center;
	transform-origin: 100% 100% 0;
}

div[class^="letter_pos_"]:hover	{
	background: #FF0000;

}
